---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"The User ID must match the consultant''s","error":"forbidden","status":403,"cause":[]}'
  recorded_at: Sat, 20 Feb 2021 02:27:30 GMT
recorded_with: VCR 6.0.0
